.banner {
    background: #fff; //fallback
    background: url('../../images/banner.jpg') center fixed no-repeat #fff; //fallback
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../../images/banner.jpg') center fixed no-repeat #fff;
    background-size: cover;
    height: 550px;
    position: relative;

    &__title,
    &__subtitle {
        text-align: center;
        text-transform: uppercase;
        font-weight: 400;
    }

    &__title {
        margin-top: 255px;
        margin-bottom: 12px;
    }

    &__subtitle {
        color: white;
        font-size: 20px;
        margin-top: 12px;
    }
}