* {
    font-family: 'Montserrat', sans-serif;
}

body {
    position: relative;
    height: 100%;
    width: 100%;
}

a {
    display: inline-block;
    color: currentColor;
    text-decoration: none;
    transition: color .4s ease;

    &:hover {
        color: #ff7d7d;
    }
}

p {
    line-height: 1.5;
}

h1 {
    color: #fff;
}

h3 {
    margin: 18px 0 10px;
    font-size: 20px;
}

h4 {
    margin: 0px;
    font-weight: 400;
}

.flex-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    &--right {
        justify-content: flex-end;
    }
}

.arrow-container--down {
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
}

.arrow {
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    border-style: solid;
    border-width: 4px 4px 0 0;
    color: currentColor;
}

.arrow--down {    
    transform: rotate(135deg);
    color: #fff;
}

.arrow--left {
    transform: rotate(225deg);
}

.arrow--right {
    transform: rotate(45deg);
}

.icon {
    display: inline-block;
    width: 18px;
    height: 100%;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    transition: color .4s ease;

    &:hover {
        stroke: #ff7d7d;
        fill: #ff7d7d;
    }
  }

  .image {
      width: 100%;
  }

  .text-center {
      text-align: center;
  }