.main {
    margin-top: 74px;
}

.section {
    padding: 35px 6px 50px;


    &__header {
        text-align: center;
    }

    &--teal {
        background-color: #d1e5e4;
    }
}

.projects {
    margin: 0 auto;
}

@media only screen and (min-width: 768px) {
    .section {
        padding: 50px 15px 70px;    
    }
}