.slider {    
    position: relative;

    &__main {
        height: 400px;
        overflow: hidden;
        margin: 25px auto;           
        position: relative;

        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 100%;
            background: linear-gradient(to top, rgba(0,0,0,0.8), transparent 40%);
        }
    }

    &__slide-container {
        position: relative;
    }

    &__slide,
    &__thumbnail {
        width: 100%;
    }

    &__slide {
        display: block;
        height: 100%;  

        & + .slider__slide {
            display: none;
        }        
    }    

    &__thumbnail {
        cursor: pointer;
        transition: all .25s ease;

        &:hover {
            opacity: 1;
        }
    }

    &__background {
        position: absolute;
        height: 100%;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    &__text {
        position: absolute;
        bottom: 50px;
        left: 50px;
        color: #fff;
        z-index: 1;
    }

    &__btn {
        position: absolute;
        top: 212px;
        z-index: 1;

        &--left {
            left: 24px;
        }

        &--right {
            right: 24px;
        }
    }
}

.opacity{
    opacity: 0.60;
}

.opacity-off {
    opacity: 1;
}